<!--<h1>{{ measurement }}</h1>-->
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Temperature</th>
    <th>Humidity</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let m of measurement">
    <td>{{m.id}}</td>
    <td>{{m.temperature}}</td>
    <td>{{m.humidity}}</td>
  </tr>
  </tbody>
</table>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
